## Data Preprocessing

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [7]:
data = pd.read_csv('Churn_Modelling.csv')

In [8]:
data.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
data.drop(['RowNumber', 'CustomerId', 'Surname'], axis = 1, inplace = True)

In [10]:
data.head(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [11]:
data['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [12]:
label_encoder_gender = LabelEncoder()

In [13]:
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data['Gender']

0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    0
9998    1
9999    0
Name: Gender, Length: 10000, dtype: int64

In [14]:
data['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [18]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse_output = False)

In [22]:
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [20]:
ohe.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [23]:
Geo_encoder_df = pd.DataFrame(geo_encoder, columns = ohe.get_feature_names_out(['Geography']))
Geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [24]:
data = pd.concat([data.drop('Geography', axis = 1), Geo_encoder_df], axis = 1)
data.head(5)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [67]:
with open('Label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)
    
with open('One_hot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(ohe, file)

In [26]:
X = data.drop('Exited', axis = 1)
y = data['Exited']

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.80, random_state = 42)

In [28]:
scalar = StandardScaler()
X_train = scalar.fit_transform(X_train)
X_test = scalar.transform(X_test)

In [29]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [31]:
with open('Scalar.pkl', 'wb') as file:
    pickle.dump(scalar, file)

In [32]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

## ANN

In [34]:
import tensorflow as tf

In [36]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [40]:
X_train.shape

(8000, 12)

In [42]:
model = Sequential([
    Dense(64, activation = 'relu', input_shape = (X_train.shape[1],)),
    Dense(32, activation = 'relu'),
    Dense(1, activation = 'sigmoid')
]
)

In [43]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [45]:
import tensorflow
optimizer = tensorflow.keras.optimizers.Adam(learning_rate = 0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()

In [46]:
model.compile(optimizer = optimizer, loss = loss, metrics = ['accuracy'])

In [50]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
log_dir = "logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir = log_dir, histogram_freq = 1)

In [56]:
early_stopping_callback = EarlyStopping(monitor = 'val_loss', patience = 50, restore_best_weights = True)

In [57]:
history = model.fit(
    X_train, y_train, validation_data = (X_test, y_test), epochs = 500,
    callbacks = [tensorflow_callback, early_stopping_callback],
)

Epoch 1/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 903us/step - accuracy: 0.8760 - loss: 0.3099 - val_accuracy: 0.8565 - val_loss: 0.3578
Epoch 2/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 794us/step - accuracy: 0.8689 - loss: 0.3152 - val_accuracy: 0.8665 - val_loss: 0.3517
Epoch 3/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 787us/step - accuracy: 0.8741 - loss: 0.3089 - val_accuracy: 0.8615 - val_loss: 0.3596
Epoch 4/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 941us/step - accuracy: 0.8786 - loss: 0.3015 - val_accuracy: 0.8550 - val_loss: 0.3589
Epoch 5/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 779us/step - accuracy: 0.8678 - loss: 0.3168 - val_accuracy: 0.8590 - val_loss: 0.3588
Epoch 6/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 824us/step - accuracy: 0.8826 - loss: 0.2967 - val_accuracy: 0.8575 - val_loss: 0.3557
Epoch 7/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 843us/step - accuracy: 0.8750 - loss: 0.3053 - val_accuracy: 0.8625 - val_loss: 0.3553
Epoch 8/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 819us/step - accuracy: 0.8839 - loss: 0.2936 - val_accuracy: 0.8590 - val_loss: 0.3712
Epoch 9/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 925us/step - accuracy: 0.8716 - loss: 0.3082 - val_accuracy: 0.8560 - val_loss: 0.3702
Epoch 10/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 848us/step - accuracy: 0.8780 - loss: 0.3013 - val_accuracy: 0.8550 - val_loss: 0.3648
Epoch 11/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 856us/step - accuracy: 0.8763 - loss: 0.3017 - val_accuracy: 0.8585 - val_loss: 0.3620
Epoch 12/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 836us/step - accuracy: 0.8800 - loss: 0.2918 - val_accuracy: 0.8565 - val_loss: 0.3620
Epoch 13/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 846us/step - accuracy: 0.8785 - loss: 0.2968 - val_accuracy: 0.8550 - val_loss: 0.3707
Epoch 14/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 858us/step - accuracy: 0.8768 - loss: 0.2882 - val_accuracy: 0.8530 - val_loss: 0.3791
Epoch 15/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 893us/step - accuracy: 0.8834 - loss: 0.2913 - val_accuracy: 0.8430 - val_loss: 0.3968
Epoch 16/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 836us/step - accuracy: 0.8830 - loss: 0.2794 - val_accuracy: 0.8475 - val_loss: 0.3890
Epoch 17/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 798us/step - accuracy: 0.8899 - loss: 0.2805 - val_accuracy: 0.8630 - val_loss: 0.3731
Epoch 18/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 815us/step - accuracy: 0.8877 - loss: 0.2830 - val_accuracy: 0.8570 - val_loss: 0.3790
Epoch 19/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 858us/step - accuracy: 0.8861 - loss: 0.2773 - val_accuracy: 0.8505 - val_loss: 0.4025
Epoch 20/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 836us/step - accuracy: 0.8905 - loss: 0.2782 - val_accuracy: 0.8540 - val_loss: 0.4026
Epoch 21/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 853us/step - accuracy: 0.8869 - loss: 0.2854 - val_accuracy: 0.8555 - val_loss: 0.3832
Epoch 22/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 860us/step - accuracy: 0.8850 - loss: 0.2779 - val_accuracy: 0.8580 - val_loss: 0.3942
Epoch 23/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 898us/step - accuracy: 0.9003 - loss: 0.2579 - val_accuracy: 0.8465 - val_loss: 0.4078
Epoch 24/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 811us/step - accuracy: 0.8880 - loss: 0.2762 - val_accuracy: 0.8545 - val_loss: 0.4099
Epoch 25/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 863us/step - accuracy: 0.8912 - loss: 0.2696 - val_accuracy: 0.8550 - val_loss: 0.3824
Epoch 26/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 892us/step - accuracy: 0.8914 - loss: 0.2618 - val_accuracy: 0.8540 - val_loss: 0.3863
Epoch 27/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 900us/step - accuracy: 0.8921 - loss: 0.2718 - val_accuracy: 0.8535 - val_loss: 0.4059
Epoch 28/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8944 - loss: 0.2596 - val_accuracy: 0.8485 - val_loss: 0.4004
Epoch 29/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 883us/step - accuracy: 0.8963 - loss: 0.2527 - val_accuracy: 0.8450 - val_loss: 0.4097
Epoch 30/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 947us/step - accuracy: 0.8944 - loss: 0.2522 - val_accuracy: 0.8490 - val_loss: 0.4033
Epoch 31/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8923 - loss: 0.2521 - val_accuracy: 0.8575 - val_loss: 0.4089
Epoch 32/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 872us/step - accuracy: 0.9004 - loss: 0.2501 - val_accuracy: 0.8460 - val_loss: 0.4301
Epoch 33/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 804us/step - accuracy: 0.8945 - loss: 0.2561 - val_accuracy: 0.8465 - val_loss: 0.4244
Epoch 34/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 820us/step - accuracy: 0.8914 - loss: 0.2565 - val_accuracy: 0.8510 - val_loss: 0.4280
Epoch 35/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 815us/step - accuracy: 0.8927 - loss: 0.2598 - val_accuracy: 0.8500 - val_loss: 0.4270
Epoch 36/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 808us/step - accuracy: 0.8932 - loss: 0.2590 - val_accuracy: 0.8495 - val_loss: 0.4479
Epoch 37/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 819us/step - accuracy: 0.8944 - loss: 0.2556 - val_accuracy: 0.8425 - val_loss: 0.4533
Epoch 38/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 792us/step - accuracy: 0.8913 - loss: 0.2571 - val_accuracy: 0.8430 - val_loss: 0.4294
Epoch 39/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 817us/step - accuracy: 0.8988 - loss: 0.2475 - val_accuracy: 0.8485 - val_loss: 0.4309
Epoch 40/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 813us/step - accuracy: 0.9037 - loss: 0.2404 - val_accuracy: 0.8405 - val_loss: 0.4457
Epoch 41/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 805us/step - accuracy: 0.9007 - loss: 0.2452 - val_accuracy: 0.8505 - val_loss: 0.4338
Epoch 42/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 836us/step - accuracy: 0.8960 - loss: 0.2455 - val_accuracy: 0.8390 - val_loss: 0.4344
Epoch 43/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 802us/step - accuracy: 0.8951 - loss: 0.2438 - val_accuracy: 0.8460 - val_loss: 0.4425
Epoch 44/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 803us/step - accuracy: 0.9068 - loss: 0.2274 - val_accuracy: 0.8395 - val_loss: 0.4584
Epoch 45/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 808us/step - accuracy: 0.9078 - loss: 0.2344 - val_accuracy: 0.8440 - val_loss: 0.4570
Epoch 46/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 836us/step - accuracy: 0.9054 - loss: 0.2374 - val_accuracy: 0.8380 - val_loss: 0.4615
Epoch 47/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 797us/step - accuracy: 0.9085 - loss: 0.2320 - val_accuracy: 0.8465 - val_loss: 0.4897
Epoch 48/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 803us/step - accuracy: 0.9030 - loss: 0.2414 - val_accuracy: 0.8445 - val_loss: 0.4831
Epoch 49/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 812us/step - accuracy: 0.9076 - loss: 0.2302 - val_accuracy: 0.8390 - val_loss: 0.5007
Epoch 50/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 844us/step - accuracy: 0.9044 - loss: 0.2373 - val_accuracy: 0.8435 - val_loss: 0.4747
Epoch 51/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 834us/step - accuracy: 0.9089 - loss: 0.2227 - val_accuracy: 0.8390 - val_loss: 0.4828
Epoch 52/500
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 827us/step - accuracy: 0.9065 - loss: 0.2283 - val_accuracy: 0.8200 - val_loss: 0.5127

In [59]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [60]:
%load_ext tensorboard

In [64]:
%tensorboard --logdir logs/fit20250108-222112

Reusing TensorBoard on port 6008 (pid 46608), started 0:02:10 ago. (Use '!kill 46608' to kill it.)